.row {
  text-align: center;
}

#choices {
  display: flex;
  justify-content: space-around;
}
h1{
  font-family: 'Tomorrow', sans-serif;
}
.mymoves{
  display:none;
  width:100px;
}
.oppmoves{
  display:none;
  width:100px;
}
#img{
  width:250px;
}
body{
  background-color:#D7FAF8
}